h1{
    margin-bottom: 3.5rem;
}

.logInscBox{
    background-color: rgb(238,238,238);
    font-weight: bold;
    color: black;
    text-align: center;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 2vw;
    border: 1px solid black;
    border-radius: 3px;
}

.logInscBox:hover{
    border: 2px solid red;
}

.container{
    padding-left: 12vw;
    padding-right: 12vw;
}

label{
    font-size: 15px;
}
