.containerSprints{
    padding-top: 2vh;
    padding-left: 2vh;
    padding-right: 2vh;
    width: 18rem;
}
.row{
    width: 100%;
}

#openNewSprintForm{
    margin-left: auto;
    margin-right: auto;
}
#addButton{
    background-color: rgb(160,60,20);
    border-color: rgb(160,60,20);
}

#addButton:hover{
    background-color: rgb(120,50,20);
    border-color: rgb(120,50,20);
}
