.containerSprints{
    padding-top: 2vh;
    padding-left: 2vh;
    padding-right: 2vh;
    width: 18rem;
}
.row{
    width: 100%;
}

#openNewSprintForm{
    margin-left: auto;
    margin-right: auto;
}
